[submodule "extern/leveldb"]
	path = extern/leveldb
	url = git@github.com:google/leveldb.git
[submodule "extern/snappy"]
	path = extern/snappy
	url = git@github.com:google/snappy.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = git@github.com:google/googletest.git
[submodule "extern/lz4"]
	path = extern/lz4
	url = git@github.com:lz4/lz4.git
